body{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("employe\ .\ jpg.jpg") ;
}
form{
    width: 300px;
    position: relative;
    margin: 3% auto;
    background-color: aliceblue;
    padding: 5px;
    text-align: center;
}